*{
    box-sizing:border-box;
}
html,
body{
    height:100%;
}
body{
    font-size: $fontSize;
    font-family: $fontFamily;
    background-image: url(http://www.humanistischealliantie.nl/wp-content/uploads/2018/01/white-1714170_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main{
    height:100%;
}
input[type="text"]{
    outline:none;
    background-color:transparent;
    border:none;
    width:100%;
}
.container{
    max-width:$containerWidth;
    margin:0 auto;
    padding-bottom:50px;
}
.pull-right{
    float:right;
}
.img-responsive{
    max-width:100%;
    height:auto;
    display:block;
    margin:0 auto;
}