.list {
    padding:0;
    margin:0;
    list-style-type:none;
    .list__product {
        padding: 15px 115px 15px 65px;
        border-bottom: 1px solid $borderColor;
        background:$list;
        position: relative;
        z-index: 2;
        box-shadow: $boxShadow;
        transition: all .3s ease-out;
        transform: translateY(0) rotate(0);
        &:hover{
            .list__not-owned{
                &:before,
                &:after{
                    background-color:$grey;
                }
            }
        }
        &.editing{
            background-color:$white;
        }
        &.list__product--empty{
            position: relative;
            z-index: 1;
            //transform: translate(1px, -120%) rotate(-7deg);
            &.active{
                //transform: translate(0px, 0%) rotate(0deg) !important;
                .list__not-owned{
                    &:after{
                        color:$green !important;
                    }
                }
            }
            &:hover{
                .list__not-owned{
                    &:after{
                        color:$green;
                    }
                }
            }
            .list__not-owned{
                &:after{
                    content: 'Add';
                    width: auto;
                    height: auto;
                    transform: translate(-50%, -50%);
                    background-color:transparent !important;
                    transition:color .1s ease-out;
                    color:$grey;
                }
                &:hover{
                    &:after{
                        color:$green;
                    }
                }
                &:before{
                    background-color:transparent !important;
                }
            }
            input{
                width:100%;
                outline:none;
                background-color:transparent;
                border:none;
            }
        }
        .list__product--edit{
            cursor:pointer;
            position: absolute;
            top: 0;
            left: 55px;
            border-right: 1px solid $borderColor;
            width: 55px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            align-content: center;
            .list__product--edit__pencil-container{
                max-width:32px;
            }
        }
        .list__owned,
        .list__not-owned{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 55px;
            border-right: 1px solid $grey;
            &:before,
            &:after{
                content: '';
                display: block;
                position: absolute;
                height: 4px;
                background-color: $green;
                top: 50%;
                left: 50%;
                transition:background-color .1s ease-in;
            }
            &:before{
                width: 24px;
                transform: translate(-90%, 120%) rotate(72deg) skew(140deg, -16deg);
            }
            &:after{
                width: 44px;
                transform: translate(-29%, -120%) rotate(-72deg) skew(-25deg, 10deg);
            }
        }
        .list__not-owned{
            &:before,
            &:after{
                background-color:transparent;
            }
        }
        &.list__product--completed{
            &:after{
                width:calc(100% - 100px);
            }
        }
        .list__price {
            position: absolute;
            width:100px;
            top: 0;
            right: 0;
            height: 100%;
            padding: 15px;
            border-left: 1px solid $grey;
            background-color:$whiteAlt;
        }
        .list__trash{
            position: absolute;
            right: -50px;
            top: 0;
            height: 100%;
            cursor:pointer;
            width: 50px;
            background-color: $red;
            z-index: -1;
            color: #fff;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            transition:background-color .1s ease-in-out;
            &:hover{
                background-color:$darkRed;
            }
        }
        &:after{
            content: '';
            display: block;
            width: 0;
            height: 4px;
            z-index: 2;
            background-color:$redLine;
            position: absolute;
            top: 50%;
            left: 60px;
            transform: translate(0%, -50%);
            border-radius: 50px;
            transition: width .5s cubic-bezier(0.32, 0.88, 0, 1);
        }
    }
}