.searchbox{
    padding:50px 0;
    .searchbox__input {
        width: 100%;
        outline:none;
        display: block;
        padding: 15px 20px;
        box-shadow: $boxShadow;
        border: none;
        border-radius: 4px;
        background-color: $white;
    }
}