.summaryBox {
    margin: 20px auto;
    background-color: $white;
    box-shadow: $boxShadow;
    border-radius: 4px;
    font-size: 1rem;
    .row {
        width: 100%;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
        .half {
            width: 100%;
            max-width: 50%;
            float: left;
            padding: 20px;
            &:first-child {
                border-right: 1px solid $lightGrey;
            }
        }
        .full {
            width: 100%;
            padding: 20px;
            border-bottom: 1px solid $lightGrey;
        }
    }
}