/*
 * Font
 */
$fontFamily: 'Gloria Hallelujah', cursive;
$fontSize: 1.25rem;

/*
 * Layout
 */
$containerWidth: 800px;


$list: #f0f0f0;

$boxShadow: 0 0 3px rgba(0,0,0,0.11);

/*
 * Colors
 */
$white:#fff;
$whiteAlt:#fafafa;
$lightGrey:#f0f0f0;
$grey:#d6d6d6;
$greyAlt:#dadada;
$green:#52ab65;
$red:#c74e4e;
$darkRed:#cc2828;
$redLine:#d40000;
$borderColor:#f0f0f0;
$background: #fafafa;