<!doctype html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>myShoppingList</title>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/main.css">
</head>
<body>

    <main ng-app="myShoppingList" ng-controller="ShoppingListController">

        <div class="container">

            <div class="searchbox">

                <input type="text" placeholder="Inizia a scrivere per cercare i prodotti" class="searchbox__input" ng-model="searching">

                <div class="summaryBox">
                    <div class="row">
                        <div class="full">
                            <span>Totale prodotti nella lista: <strong class="pull-right">{{ products.length | number: 0 }}</strong></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="half">
                            <span>Prodotti da acquistare: <strong class="pull-right">{{ summary.toBuy | number: 0 }}</strong></span>
                        </div>
                        <div class="half">
                            <span>Prodotti acquistati: <strong class="pull-right">{{ summary.buyed | number: 0 }}</strong></span>
                        </div>
                    </div>
                </div>

            </div>

            <ul class="list">
                <li class="list__product"
                    ng-repeat="product in filteredProducts = ( products | filter: searching )"
                    ng-class="{ 'list__product--completed' : product.owned, 'editing' : product.editingName }">
                    <div ng-click="ownedProductToggle(product)"
                         ng-class="{
                        'list__owned' : product.owned,
                        'list__not-owned' : !product.owned
                    }">
                    </div>
                    <div class="list__name">
                        <input type="text"
                               ng-value="product.name"
                               ng-model="product.name"
                               ng-click="editName(product)"
                               ng-keydown="saveNameOnEnter($event, product)">
                    </div>
                    <div class="list__trash" ng-click="trashProduct(product._id)">
                        <span>x</span>
                    </div>
                </li>
                <li ng-if="!searching" class="list__product list__product--empty">
                    <div class="list__not-owned"></div>
                    <div class="list__name">
                        <input type="text"
                               ng-model="newProduct.name"
                               ng-focus="addNewProductIntent"
                               ng-keydown="storeNewProduct($event)"
                               ng-attr-placeholder="Inserisci il prodotto e premi Invio per salvarlo">
                    </div>
                </li>
            </ul>

        </div>

    </main>

    <!-- AngularSJ Libraries -->
    <script src="./node_modules/angular/angular.js"></script>

    <!-- App core -->
    <script src="./src/app/app.js"></script>

    <!-- Factories -->
    <script src="./src/app/factory/products.factory.js"></script>

    <!-- Controllers -->
    <script src="./src/app/controller/shoppingList.controller.js"></script>

</body>
</html>